services:
  server:
    build:
      context: .
      target: final
    environment:
      - ConnectionStrings__AZURE_SQL_CONNECTIONSTRING=Server=tcp:taskr.database.windows.net,1433;Initial Catalog=taskr_db;Persist Security Info=False;User ID=taskr-admin;Password=${SQL_PASSWORD};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;
    ports:
      - "80:80"
    restart: unless-stopped