@model Board

<div class="row flex-row">

    @foreach (var swimlane in Model.Swimlanes)
    {
        <div class="col flex-column border border-dark-subtle rounded" style="margin: 1rem; max-width: 20rem; min-width: 20rem">
            <h2 class="mb-3">@swimlane.Name</h2>
            <div class="d-flex flex-column gap-2 mb-3">
                @foreach (var card in swimlane.Cards)
                {
                    <partial name="../Card/_Card" view-data='@new ViewDataDictionary(ViewData) { { "Card", card } }' />
                }
            </div>
            <div class="container p-0">
                <button type="button" class="btn btn-sm btn-outline-primary w-100" 
                        data-bs-toggle="modal" 
                        data-bs-target="#createCardModel-@swimlane.Id">New Card</button>
            </div>
        </div>
        <partial name="../Card/_CreateCard" 
                 view-data='@new ViewDataDictionary(ViewData) {
                  {"SwimlaneId", swimlane.Id}, { "SwimlaneName", swimlane.Name } }' />
    }
    @* New Swimlane Button *@
    <div class="col-md-auto rounded" style="margin: 1rem">
        <div class="container p-0">
            <button id="add-swimlane-btn" class="btn btn-sm btn-outline-primary w-20">+</button>
            <form id="add-swimlane-form" class="form-text d-none" name="swimlaneName">
                <input type="text" name="swimlaneName" id="swimlane-name-input" class="form-control form-control-sm" placeholder="New Swimlane" autofocus>
                <p class="small text-muted">Press Enter to save or Escape to cancel.</p>
            </form>
        </div>
    </div>
</div>