@model Board

<div class="row flex-nowrap g-4 pb-3" style="width: 100%; height: 100%; overflow-x: auto; overflow-y: hidden;">

    @foreach (var swimlane in Model.Swimlanes)
    {
        <div class="col-10 col-sm-6 col-md-4 col-lg-3" style="min-width: 380px; max-width: 380px; height: 100%;">
            <div class="card h-100 text-bg-dark">
                <div class="card-header d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <h5 class="text-break" id="swimlane-title-@swimlane.Id" autofocus>@swimlane.Name</h5>
                        <div class="invalid-feedback">
                            Swimlane name must be between 1 - 20 Characters.
                        </div>
                    </div>
                    <div class="btn-group" role="group" aria-label="Basic outlined example" style="max-height: 34px;">
                        <button type="button" id="update-swimlane-btn" class="btn btn-outline-primary edit-swimlane-btn"
                            data-swimlane-id="@swimlane.Id">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger update-swimlane-btn" data-bs-toggle="modal"
                            data-bs-target="#deleteSwimlaneModal-@swimlane.Id">
                            <i class="bi bi-x"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-body card-container CardDragDropContainer" data-swimlane-id="@swimlane.Id">
                        @foreach (var card in swimlane.Cards)
                        {
                            <partial name="../Card/_Card" view-data='@new ViewDataDictionary(ViewData) { { "Card", card } }' />
                            // Update Card Modal
                            <partial name="../Card/_Update"
                                view-data='@new ViewDataDictionary(ViewData) { { "Card", card } }' />
                        }
                    </div>
                </div>
                <div class="card-footer text-body-secondary">
                    <button type="button" class="btn btn-sm btn-outline-primary w-100" data-bs-toggle="modal"
                        data-bs-target="#createCardModel-@swimlane.Id">New Card</button>
                </div>
            </div>
        </div>
        <partial name="../Card/_Create" view-data='@new ViewDataDictionary(ViewData) {
                                     {"SwimlaneId", swimlane.Id}, { "SwimlaneName", swimlane.Name } }' />
        <partial name="../Swimlane/_DeleteSwimlane"
            view-data='@new ViewDataDictionary(ViewData) { {"SwimlaneId", swimlane.Id}, { "SwimlaneName", swimlane.Name } }' />
    }
    @* New Swimlane Button *@
    <div class="col-md-auto rounded" style="margin: 1rem">
        <div class="container p-0">
            <button id="add-swimlane-btn" class="btn btn-sm btn-outline-primary w-20">+</button>
            <form id="add-swimlane-form" class="form-text d-none" name="swimlaneName">
                <input type="text" name="swimlaneName" id="swimlane-name-input" class="form-control form-control-sm"
                    placeholder="New Swimlane" autofocus>
                <p class="small text-muted">Press Enter to save or Escape to cancel.</p>
            </form>
        </div>
    </div>
</div>