@model Board

<!DOCTYPE html>

<html lang="en-GB">
<head>
    <title>Taskr - @Model.Title</title>
</head>
<body>
    <header>@Model.Title</header>
    <div class="container-fluid">
        <partial name="_ViewBoard" model="Model"/>
    </div>
</body>
</html>